<% ui.decorateWith("appui", "standardEmrPage") %>

Hello, world.
<form action="module/patientclassify/patientclassify.form">

    <input type="submit">

</form>


${ ui.includeFragment("patientclassify", "users") }