<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        {{ message }}
      </div>
   <script src="./js/lib/vue.min.js"></script>
   <script src="./js/lib/vue-resource.js"></script>
   <script src="js/login.js"></script>
   <script src="./js/lib/vue.js"></script>
</body>
</html>